/**used in el-check**/
$font-color-bright: #f8f0f0;
$menu-color-dark: #290c1a;

/**used in social-button**/
$color-primary: #81c2de;
$color-primary-light: #b4f5ff;
$color-primary-dark: #4f92ac;
$color-white: #FFFBFA;
$color-black: #191308;

/**menu-bar**/
$menu-bar-bg: blueviolet;