@media (min-width: 1600px) {
    .timeline-content,.cr-text-detailIntro,.el-step__description.el-step__title{
      font-size: 18px !important;
    }
  }
  @media (min-width: 950px) and (max-width: 1599px) {
    .timeline-content,.cr-text-detailIntro,.el-step__description,.el-step__title{
      font-size: 14px !important;
    }
  }
    
  @media (max-width: 949px) {
    .timeline-content,.cr-text-detailIntro,.el-step__title{
      font-size: 11px !important;
    }
    .el-step__description{
      font-size: 9px !important;
    }
  }


*:not(.cb-my){
  &>.el-checkbox__label{
    color: $font-color-bright !important;
  }
  &>.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: $menu-color-dark !important;
    border-color: $menu-color-dark !important;
  }
  &>.el-checkbox__input.is-focus .el-checkbox__inner {
    border: $menu-color-dark !important;
  }
}

.el-drawer.ltr.open{
  overflow-y: scroll;
}

.bm-overlay {
  background: none !important;
}

.el-card__header{
  position: relative;
}
.inner-triangle-public{
  border-left: 30px solid transparent;
  border-right: 30px solid var(--el-color-primary);
  border-bottom: 30px solid transparent;
  bottom: 47px;
  width: 0;
  position: absolute;
  right: 0px;
  z-index: 2;
  .inner-triangle-text-public{
    color: white;
    font-size: 12px;
    position: absolute;
    left: 14px;
    top: 1px;
  }
}
.inner-triangle-pv{
  border-left: 30px solid transparent;
  border-right: 30px solid red;
  border-bottom: 30px solid transparent;
  bottom: 47px;
  width: 0;
  position: absolute;
  right: 0px;
  z-index: 2;
  .inner-triangle-text-pv{
    color: white;
    font-size: 12px;
    position: absolute;
    left: 14px;
    top: 1px;
  }
}
